body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: var(--bg);
    color: var(--color);
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    display: flex;
    flex-direction: column;
}